main {
  padding: 50px auto;
  margin: 20px;
}

main section {
  padding: 20px 80px;
}

main section div {
  width: 200px;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

main section div h2 {
  letter-spacing: 5px;
  font-weight: 100;
  font-size: 15px;
  text-shadow: 0 0 10px #415a77;
}

main section div input {
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.205);
  transition: all 1s;
}

main section div button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  width: 100px;
  border-radius: 30px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.205);
  box-shadow: 0 0 5px #01161e;
  transition: all 1s;
}

.fp {
  align-items: end;
  font-size: 10px;
}

main section div button:hover {
  text-shadow: 0 0 1px #415a77;
  letter-spacing: 5px;
  width: 200px;
  border: 1px solid white;
  box-shadow: 0 0 20px #415a77;
  cursor: pointer;
}

main section div input:hover {
  border: 1px solid white;
}